*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
    width: 100%;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  font-family: comic sans ms;
}
.wrap {
  width: 50px;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.container {
  padding: 5px;
}
.container h1 {
  text-align: center;
  color: #fff;
}
.container p{
  text-align: center;
  padding-bottom: 5px;
}
.bg-text{
  background-color: rgba(0, 0, 0, 0.418);
  box-shadow: 0 0 10px rgba(255,255,255,.3);
  color: #fafafa;
  font-weight: bold;
  border: solid 5px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  padding: 30px;
  z-index: 2;
  transform:translate(-50%,-50%)
}
h1 {
  text-align: center;
  color: rgb(0, 3, 189);
}
table {
  margin: auto;
  padding: 2px;
}
table td {
  padding: 8px;
}
button {
  background-color: #3171fa;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
  cursor: pointer;
}
button:hover{
  background-color: transparent;
  border: 2px solid #3171fa;
  cursor: pointer;
}
#btn{
  position: absolute;
  left: 65%;
  top: 77.6%;
}
